# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Configuration or temporary files
*.env
*.tmp
*.log

# Vendor directory (if you use `go mod vendor`)
/vendor/

# Dependency directories created by `dep`
/Gopkg.lock
/Gopkg.toml

# Go build cache
/go-build/

# Module cache
/pkg/mod/

# IDE/editor-specific files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
